<div class="table-responsive">
  <table class="table-bordered">
    <thead>
      <tr>
        <% @dates.each do |date| %>
          <th><%= date %></th>
        <% end %>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <% @dates.each do |date| %>
          <td><%= text_field_tag "#{date}", "", class: "dates" %></td>
        <% end %>
      </tr>
    </tbody>
   </table>
</div>
   <br>
    <button type="button" class="btn btn-primary" id="save_entries">Submit</button>
    <%= form_tag save_time_entries_path, method: 'post', id:"save_time_entries" do %>
      <%= hidden_field_tag "start_date", @dates.first%>
      <%= hidden_field_tag "end_date", @dates.last%>
      <%= hidden_field_tag "total_hours", "" %>
      <%= hidden_field_tag "project_id", @project.id %>
    <% end %>
 
 <script>
   $("#save_entries").click(function(){
      var hours = 0;
      $('.dates').each(function() {
          hours += Number($(this).val());
      });
      if (hours > 40 || hours == 0) {
        alert("Total Hours Should be equal to 40");
        return false;
      }
      else {
        $("#total_hours").val(hours);
        $("#save_time_entries").submit();
      }
   })
 </script>